In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.63.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [4]:
from google.colab import files

In [5]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"yesilyurttemre","key":"cae800393799ef955c3108fbf5369e48"}'}

In [6]:
!mkdir ~/.kaggle

In [7]:
!cp kaggle.json ~/.kaggle/

In [8]:
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d mkechinov/ecommerce-behavior-data-from-multi-category-store

Downloading ecommerce-behavior-data-from-multi-category-store.zip to /content
100% 4.28G/4.29G [01:57<00:00, 75.3MB/s]
100% 4.29G/4.29G [01:58<00:00, 39.0MB/s]

In [10]:
!ls

ecommerce-behavior-data-from-multi-category-store.zip  kaggle.json  sample_data

In [11]:
! unzip ecommerce-behavior-data-from-multi-category-store.zip -d ecommerce-behavior-data-from-multi-category-store

Archive:  ecommerce-behavior-data-from-multi-category-store.zip
  inflating: ecommerce-behavior-data-from-multi-category-store/2019-Nov.csv
  inflating: ecommerce-behavior-data-from-multi-category-store/2019-Oct.csv

In [23]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re
import yaml

#creating a function to read the file
def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(df,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    df.columns = df.columns.str.lower() # changing all columns to lower case
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Writing testutility.py

In [22]:
#mounting the drive
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [24]:
##writing yaml file
%%writefile file.yaml
file_type: csv
dataset_name: testfile
file_name: online_trans
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - event_time
    - event_type
    - product_id
    - category_id
    - category_code
    - brand
    - price
    - user_id
    - user_session

Overwriting file.yaml

In [17]:
!pip install py-test-utility

Collecting py-test-utility
  Downloading py_test_utility-0.0.2-py3-none-any.whl (5.0 kB)
Installing collected packages: py-test-utility
Successfully installed py-test-utility-0.0.2

In [25]:
# Reading the  config file
import testutility as util
config_data = util.read_config_file("file.yaml")

In [26]:
#confriming the delimiter
config_data['inbound_delimiter']

','

In [27]:
# confirming the columnsconfig
config_data['columns']

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'user_session']

In [28]:
#inspecting data of config file
config_data

{'columns': ['event_time',
  'event_type',
  'product_id',
  'category_id',
  'category_code',
  'brand',
  'price',
  'user_id',
  'user_session'],
 'dataset_name': 'testfile',
 'file_name': 'online_trans',
 'file_type': 'csv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'table_name': 'edsurv'}

In [29]:
# importing the operating system to get the file path
import os
print("Confirming my file(online_trans.csv) exists: ", os.listdir())
print("\n")
print("The file directory path is:",os.getcwd()) # getting the exact file locattion directory

Confirming my file(online_trans.csv) exists:  ['.config', 'ecommerce-behavior-data-from-multi-category-store', 'drive', 'kaggle.json', 'file.yaml', 'testutility.py', '__pycache__', 'ecommerce-behavior-data-from-multi-category-store.zip', 'sample_data']


The file directory path is: /content

In [30]:
#using an absolute path to open the file:
os.chdir(r'/content/drive/MyDrive/data_ingestion/')

In [31]:
# read the file using config file
file_type = config_data['file_type']
source_file = "./" + config_data['file_name'] + f'.{file_type}'
print("",source_file)

 ./online_trans.csv

In [ ]:
#import needed libraries
import time
import pandas as pd

#load and read the dataset
start_time = time.time()
df = pd.read_csv(source_file,config_data['inbound_delimiter'])
end_time = time.time()
print("config estimated loading time: = {}".format(end_time-start_time))
print("\n")
df.head()

In [ ]:
#validating the header(columns) of the file
util.col_header_val(df,config_data)

column name and column length validation passed

1

In [ ]:
print("columns of files are:" ,df.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')
columns of YAML are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']

In [ ]:
if util.col_header_val(df,config_data)==0:
    print("validation failed")
    # write code to reject the file
else:
    print("col validation passed")
    # write the code to perform further action
    # in the pipleine

column name and column length validation passed
col validation passed

In [ ]:
#checking the dataset features
pd.read_csv("./online_trans.csv")

                       event_time  ...                          user_session
0         2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1         2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2         2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3         2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4         2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...                           ...  ...                                   ...
42448759  2019-10-31 23:59:58 UTC  ...  22c57267-da98-4f28-9a9c-18bb5b385193
42448760  2019-10-31 23:59:58 UTC  ...  5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761  2019-10-31 23:59:58 UTC  ...  05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762  2019-10-31 23:59:59 UTC  ...  4c14bf2a-2820-4504-929d-046356a5a204
42448763  2019-10-31 23:59:59 UTC  ...  6e57d2d7-6022-46e6-81d6-fa77f14cefd8

[42448764 rows x 9 columns]

In [ ]:
#checking the created Yaml dataframe features
df

                       event_time  ...                          user_session
0         2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1         2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2         2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3         2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4         2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...                           ...  ...                                   ...
42448759  2019-10-31 23:59:58 UTC  ...  22c57267-da98-4f28-9a9c-18bb5b385193
42448760  2019-10-31 23:59:58 UTC  ...  5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761  2019-10-31 23:59:58 UTC  ...  05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762  2019-10-31 23:59:59 UTC  ...  4c14bf2a-2820-4504-929d-046356a5a204
42448763  2019-10-31 23:59:59 UTC  ...  6e57d2d7-6022-46e6-81d6-fa77f14cefd8

[42448764 rows x 9 columns]

In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import time # used to estimate time it takes to load

In [ ]:
#1.loading the dataset
start_time = time.time()
trans_pandas = pd.read_csv("/content/drive/MyDrive/data_ingestion/online_trans.csv", delimiter=',')
end_time = time.time()
print("estimated pandas loading time: = {}".format(end_time-start_time)) #use format method for computing time difference
print("\n")

#checking the first 5 rows
trans_pandas.head()

estimated pandas loading time: = 172.76540398597717

                event_time  ...                          user_session
0  2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2  2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4  2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

[5 rows x 9 columns]

In [ ]:
#install dask dataframe first and then import library
!pip install "dask[dataframe]"
import dask.dataframe as dd
import time

#loading the dataset
start_time = time.time()
trans_dask = dd.read_csv("/content/drive/MyDrive/data_ingestion/online_trans.csv", delimiter=',')
end_time = time.time()
print("dask estimated loading time: = {}".format(end_time-start_time))
print("\n") #break

#getting the first 5 colums
trans_dask.head()

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/40/e1/7111d8afc76ee3171f4f99592cd29bac9d233ae1aa34623011506f955434/fsspec-2021.7.0-py3-none-any.whl (118kB)
     |████████████████████████████████| 122kB 8.7MB/s
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/41/94/360258a68b55f47859d72b2d0b2b3cfe0ca4fbbcb81b78812bd00ae86b7c/partd-1.2.0-py3-none-any.whl
Requirement already satisfied: pandas>=0.23.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.1.5)
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.1)
Requirement already satisfied: numpy>=1.13.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.19.5)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/50/b8/e789e45b9b9c2db75e9d9e6ceb022c8d1d7e49b2c085ce8c05600f90a96b/locket-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0; extra == "dataframe"->dask[dataframe]) (1.15.0)
Installing collected packages: fsspec, locket, partd
Successfully installed fsspec-2021.7.0 locket-0.2.1 partd-1.2.0
dask estimated loading time: = 0.24152302742004395

                event_time  ...                          user_session
0  2019-10-01 00:00:00 UTC  ...  72d76fde-8bb3-4e00-8c23-a032dfed738c
1  2019-10-01 00:00:00 UTC  ...  9333dfbd-b87a-4708-9857-6336556b0fcc
2  2019-10-01 00:00:01 UTC  ...  566511c2-e2e3-422b-b695-cf8e6e792ca8
3  2019-10-01 00:00:01 UTC  ...  7c90fc70-0e80-4590-96f3-13c02c18c713
4  2019-10-01 00:00:04 UTC  ...  c6bd7419-2748-4c56-95b4-8cec9ff8b80d

[5 rows x 9 columns]

In [ ]:
#installing and importing required library
#!pip install pip --upgrade
#!pip install datatable

In [ ]:
#importing the library 
import datatable as dt
import time

#loading using datatable
start_time = time.time()
trans_datatable = dt.fread("/content/drive/MyDrive/data_ingestion/online_trans.csv")
end_time = time.time()
print("datatable estimated loading time: = {}".format(end_time-start_time))
print("\n") #break

#getting the first 5 colums
trans_datatable.head()

datatable estimated loading time: = 158.11506295204163

In [ ]:
import gzip 

while True:
    if util.col_header_val(trans_dask,config_data)==0:
        print("---------------------------------------------")
        print("Validation Failed! Please, check file columns!")
    else:
        print("Column Validation Passed")
        input = open('online_trans.csv', 'rb')
        s = input.read()
        input.close()
        
        output = gzip.GzipFile('trans_dask.gz','wb')
        output.write(s)
        output.close()
        
      
        print("Your Dataframe has been compressed to a .gzip file in the same folder.")
    break

column name and column length validation passed
Column Validation Passed
Your Dataframe has been compressed to a .gzip file in the same folder.

In [ ]:
#total number of the rows
print("The dataset has  {} rows".format(len(trans_dask)))

The dataset has  42448764 rows

In [ ]:
#checking number of columns
len(trans_dask.columns)
print("The dataset has {} columns" .format(len(trans_dask.columns)))

The dataset has 9 columns

In [ ]:
import os
#file size
file_size = os.path.getsize("/content/drive/MyDrive/data_ingestion/online_trans.csv")

print("The file size is: {}" .format(file_size))

The file size is: 5668612855